.navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    /* border-bottom: 3px solid red;  */
    padding-bottom: 5px; 
    color: red;
  }
  
